<h1 class="title">Member List</h1>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Member Id</th>
      <th>Member's name</th>
      <th>Year of Birth</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <% members.forEach(function(member) { %>
    <tr>
      <td><%= member._id %></td>
      <td><%= member.memberName %></td>
      <td><%= member.yob %></td>
      <td><%= member.gender === true ? 'Male' : 'Female' %></td>
    </tr>
    <% }); %>
  </tbody>
</table>
