<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title has-text-centered">Login</h1>
    <form method="POST">
      <label class="label">Email</label>
      <div class="control">
        <input
          class="input"
          type="email"
          placeholder="Email"
          name="email"
          required
        />
      </div>

      <label class="label">Password</label>
      <div class="control">
        <input
          class="input"
          type="password"
          placeholder="Password"
          name="password"
          required
        />
      </div>

      <div class="control mt-5">
        <button type="submit" class="button is-primary is-fullwidth">
          Login
        </button>
      </div>
    </form>
  </div>
</div>
