<div class="columns is-centered">
  <div class="column is-half">
    <h1 class="title has-text-centered">Add New Brand</h1>
    <form action="/brand" method="POST">
      <div class="field">
        <label class="label">Brand Name</label>
        <div class="control">
          <input class="input" type="text" name="brandName" required />
        </div>
      </div>
      <div class="control">
        <button type="submit" class="button is-black is-fullwidth">
          Add
        </button>
      </div>
    </form>
  </div>
</div>
